{% extends "index.html" %}
{% block content %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>NO</th>
                <th>status</th>
            </tr>
        <tbody>
            {% for i in house_list %}
            <tr>
               <th>{{i.id}}</th>
               <th><a href="{% url 'detail' i.id %}">{{i.house_no}}</a></th>
               <th>{{ i.get_status_display }}</th>    
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>

{% endblock content%}