{% extends 'index.html' %}
{% block content %}
    <style>
        .my-house-no{
            margin-left:30px;
        }

        .payment-content{
            height:400px;
            border:darkgray 0.5px solid;
            margin:20px 50px 50px;
            overflow: auto;
        }
        .display-text{
            text-align:center;
            margin-top:135px;
        }
        .payment-history{
            overflow: auto;
            margin:10px 50px ;
            border:darkgray 0.5px solid;
        }
    </style>
    <div class="crumb">
        <ol class="breadcrumb">
            <li><a href="/index">主页</a></li>
            <li>房费查询/支付</li>
            
        </ol>
    </div>
    {% if msg %}
    <div></div><div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">{{msg}}</a>
    </div>
    {% endif %}
    <div class="payment-page-title">
        <div class="my-house-no">您的房号为<strong>{{house_obj.house_no}}</strong>,以下为您的房费信息。</div>
    </div>
    <div class="waiting-pay-list"><h1>待支付房费列表</h1></div>
    <div class="payment-content">
        <div class="tips-data-lost">
            
            {% if not payment_check  %}
                <div class="display-text">no data in record</div>
            {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>创建时间</th>
                            <th>总价</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                {% for i in payment_check %}
                    {% if i.payment_status == '0' %}
                        <tbody>
                            <tr>
                                <th>{{i.create_time}}</th>
                                <th>{{i.total}}</th>
                                <th>{{i.get_payment_status_display}}</th>
                                <th><a href="{% url 'payment_detail' pay_id=i.id %}"><button class="btn btn-default" type="submit">支付</button></a></th>
                                    <!--支付路径 -->
                            </tr>
                        </tbody>

                    {% endif %}
                {% endfor %}
            {% endif %}
                </table>
        </div>
    </div>
    <div class="history"><h1>历史支付列表</h1></div>
    <div class="payment-history" style="margin-top: 15px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>创建日期</th>
                    <th>总金额</th>
                    <th>支付时间</th>
                </tr>
            </thead>
            {% for i in payment_check %}
                {% if i and i.payment_status == '1' %}
                <tbody>
                    <tr>
                        <th>{{i.create_time}}</th>
                        <th>{{i.total}}</th>
                        <th>no set</th>
                    </tr>
                </tbody>
                {% endif %}
            {% endfor %}
        </table>
    </div>


{% endblock content%}