{% extends "base.html" %}
{% block content %}
    {% if msg %}
        <div class="alert alert-warning">{{ msg }}</div>
    {% endif %}
    <form action="/login.html/" method="post">
        <p>{{login.Username}}{{login.Username.errors}}</p>
        <p>{{login.PW}}</p>
        <p>{{login.random_code}}</p>
        <p><input type="submit" value="sign up"></p>
    </form>

    {% for i in exist_user_list %}
            <h1>{{i.login_user_name}}-{{i.login_Pw}}</h1>
        {% endfor %}

{% endblock content %}
        