{% extends 'index.html' %}
{% block content %}
<style>
    .form-control{
        width:100px;
    }
    textarea.form-control{
        width:500px;
        height:100px;
    }

</style>
<div class="crumb">
  <ol class="breadcrumb">
      <li><a href="/index">主页</a></li>
      <li><a href="/index/choice_payment">房费信息管理</a></li>
      <li>{{house_no}}</li>
  </ol>
</div>
<div class="payment-title" style="padding: 5px;border-bottom: 1px solid black;"> 
  <h1>发布房费/设置房费款项</h1>
  <p>需付费房号为 :<strong>{{house_no}}</strong>,本月采集水量为 <strong>{{water}}</strong>吨,电量为 <strong>{{power}}</strong>度，可根据采集水电量进行对应款项设定。</p>
</div>
    

<div class="payment-form" style="margin-top: 15px;">
  <form class="form-horizontal" method="post">

    {% csrf_token %}
    {% for i in count_set %}
    {% if i.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> {{i.errors}}
        </div>
    {% endif %}
    <div class="form-group">
    <label for="set-count-form" class="col-sm-2 control-label">{{i.label_tag}}</label>
    <div class="col-sm-10">
        {{i}}
    </div>
  </div>
    {% endfor %}
  <div class="tips-links" style="margin-left: 20px;">
    <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only"></span>  水电价参考链接</p>
    <a href="http://gz.bendibao.com/news/2012713/content101545.shtml" target="view_window">广州阶梯电价</a>
    <a href="http://wenda.bendibao.com/live/2019711/34821.shtm" target="view_window">广州水分收费标准</a>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      {% if status != '0' %}
        <button type="submit" class="btn btn-default">add</button>
      {% endif %}      
    </div>
  </div>

</form>
</div>

<h1>History</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>总金额</th>
      <th>当前状态</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
      {% for i in count_setting_record %}
      <tr>
          <th>{{i.total}}</th>
          <th>{{i.get_payment_status_display}}</th>
          <th>{{i.create_time}}</th>
          <!-- 未支付的设置金额记录才能被删除 -->
          {% if i.payment_status == '0' %}
            <th><a href="{% url 'del_record' id=i.id house_no=house_no %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></th>
          {% endif %}
          </tr>
      {% endfor %}   
  </tbody>
  
</table>
<script>
</script>

{% endblock content%}