{% extends 'index.html' %}
{% block content %}
<style>
    .waiting-list-title{
        border-bottom: black solid 1px;
    }
    .already_list{
        margin-top: 50px;
    }
    .rental-list-title{
        border-bottom: black solid 1px;
    }
</style>

<div class="crumb">
    <ol class="breadcrumb">
        <li><a href="/index">主页</a></li>
        <li>租客信息管理</li>
        
    </ol>
</div>

<div class="waiting-list">
    <div class="waiting-list-title"><strong><h1>待审核用户列表</h1></strong></div>
    <table class="table table-hover">
            <thead>
                <tr>

                    <th>username</th>
                    <th>phone</th>
                    <th>status</th>
                    <th>edit</th>
                </tr>

                {% for i in phone_list %}

                <tbody>
                    <tr>
                        <th><a href="{% url 'check_user' i.id %}">{{i.username}}</a></th>
                        <th>{{i.phone_no}}</th>
                        <th>{{Groups_display}}</th>
                        <th><a href="{% url 'audit_pass' i.id %}">审核</a></th>

                    </tr>
                </tbody>

                {% endfor %}



            </thead>
        </table>
</div>

<div class="already_list">
    <div class="rental-list-title"><strong><h1>租客列表</h1></strong></div>
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>username</th>
                    <th>status</th>
                    <th>edit</th>
                </tr>
                {% for i in r_users %}
                <tbody>
                    <tr>
                        <th><a href="{% url 'check_user' i.id %}">{{i.username}}</a></th>
                       <th>{{r_display}}</th>
                        <th><a href="{% url 'del' i.id %}">del</a></th>

                    </tr>
                </tbody>
                {% endfor %}
            </thead>
        </table>
</div>






<script>
    

</script>



{% endblock content%}